# OpenMW settings for Pip-Boy streaming (Windows)
[Video]
resolution x = 876
resolution y = 700
fullscreen = false
window mode = 0
minimize on focus loss = false

[Input]
grab cursor = false

[HUD]
crosshair = false
